      <div class="sidebar-module sidebar-module-inset assignment-list">      
      <h4>Assignments</h4>
      <ul class="sidebar-module-list">
        <% site.categories.findOne({name: "assignments"}).posts.sort('date', -1).each(function(post) { %>
          <li><a href="<%- url_for(post.path) %>"><i class="fas fa-briefcase"></i> <%= post.title %></a></li>
        <% })%>
        </ul>
    </div>