<footer class="blog-footer">
  <div class="container">
    <div id="footer-info" class="inner container">
      <div class="row links custom-links justify-content-center mt-3">
          <a class="col col-sm-1 icon icon-twitter" href="https://twitter.com/planetoftheweb"><i class="fab fa-twitter"></i></a>
          <a class="col col-sm-1 icon icon-facebook" href="https://facebook.com/viewsource"><i class="fab fa-facebook"></i></a>
          <a class="col col-sm-1 icon icon-linkedin" href="https://linkedin.com/in/planetoftheweb"><i class="fab fa-linkedin"></i></a>
          <a class="col col-sm-1 icon icon-github" href="https://github.com/planetoftheweb"><i class="fab fa-github"></i></a>
          <a class="col col-sm-1 icon icon-google-plus" href="https://plus.google.com/+RayVillalobos0"><i class="fab fa-google-plus"></i></a>
          <a class="col col-sm-1 icon icon-dribbble" href="https://dribbble.com/planetoftheweb"><i class="fab fa-dribbble"></i></a>
          <a class="col col-sm-1 icon icon-flickr" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/"><i class="fab fa-flickr"></i></a>
          <a class="col col-sm-1 icon icon-youtube" href="https://www.youtube.com/user/planetoftheweb"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
  </div>
</footer>
